page{
  background: #F5F5F5;
  font-family: "微软雅黑";
  font-size: 28rpx;
}
.hidden{
  display: none !important;
}
view,text,navigator,textarea{
	box-sizing: border-box;
}
.wrap .no-more{
	width:100%;
	padding:30rpx;
	text-align:center;
	color:#999;
	font-size:26rpx;
}

/**公共flex方法**/
.flex-row{
  display: flex;
  flex-direction: row; 
}
.flex-column{
  display: flex;
  flex-direction: column; 
}
.flex-start{
  justify-content: flex-start;
}
.flex-end{
  justify-content: flex-end;
}
.flex-center{
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.align-items-center{
  align-items: center;
}
.align-self-center{
 align-self: center;
}  
.align-items-end{
  align-items: flex-end;
}
page,.place-holder {
  font-family: "微软雅黑";
}
page {
  font-size: 28rpx;
}
.inline{
      display: inline-block;
}
view{
	box-sizing:border-box;
}

button{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	line-height:normal;
	border-radius: 0px;
	overflow: hidden;
	color: #000;
	background-color: #fff;
}
button::after{
	border:0px;
	border-radius:0px;
}
