page{
	background:#fff;
}
.wrap{
	font-size:28rpx;
}
.wrap .header{
	width: 100%;
	height: 100rpx;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30rpx;
	font-size: #333;
	border-bottom: 1rpx solid #b2b2b2;
}
.wrap .header .right{
	width: 100px;
}
.header .right .time{
	width: 100%;
	height: 60rpx;
	line-height: 60rpx;
	text-align: center;
	background: #0079FF;
	color: #fff;
	border-radius: 50rpx;
	
}
.box-area{
	width: 100%;
	height: auto;
	padding: 30rpx;
}
.box-area .box{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	margin-bottom: 20rpx;
}
.box .head{
	width: 100%;
	height: 110rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20rpx 20rpx 0 20rpx;
}
.box .head .left{
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333;
}
.box .head .left .head-img{
	width: 70rpx;
	height: 70rpx;
	border-radius: 50%;
	background: red;
	overflow: hidden;
}
img{
	width: 100%;
	height: 100%;
}
.box .head .right{
	flex: 1;
	text-align: right;
	color: #666;
}
.box .center{
	width: 94%;
	height: auto;
	background: #F7F9FB;
	padding: 0 20rpx;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.box .center .left{
	padding: 20rpx;
	width: 110px;
	height: 110px;
	background:#CCCCCC;
}
.box .center .right{
	flex: 1;
	margin-left: 10rpx;
	display: flex;
	flex-direction: column;
}
.box .center .right .tops{
	width: 100%;
	height: 60rpx;
	line-height: 60rpx;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.box .center .right .middle{
	width: 100%;
	height: 40rpx;
	line-height: 40rpx;
	font-size: 20rpx;
	color: #B2B2B2;
}
.box .center .right .money{
	width: 100%;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 34rpx;
	color: #333;
}
.box .name-area{
	width: 100%;
	height: 100rpx;
	line-height: 100rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20rpx;
	font-size: 30rpx;
	color: #000;
}
.box .name-area .name{
	width: 130px;
}
.box .name-area .phone{
	flex: 1;
	text-align: left;
}
.box .address{
	width: 100%;
	padding: 0 20rpx;
	height: auto;
	font-size: 26rpx;
	color: #B2B2B2;
	margin-bottom: 20rpx;
}
.box .footer{
	width: 100%;
	height: 100rpx;
	line-height: 100rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20rpx;
	font-size: 30rpx;
}
.box .footer .left{
	flex: 1;
}
.box .footer .left text{
	color: #EF692E;
}
.box .footer .right{
	width: 80px;
	text-align: right;
}

.btn-list{
	width:150rpx;
	height:50rpx;
	border-radius:40rpx;
	font-size:25rpx;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#fff;
	background:#0079FF;
}
.finish{
	background: #b2b2b2 !important;
}