/* pages/worker/dealServer/dealServer.wxss */
page{
	background:#fff;
}
.wrap{
	font-size:28rpx;
	padding-bottom:200rpx;
}
.wrap .main-area{
	padding:30rpx;
	width:100%;
}
.main-area .top-area{
	padding:50rpx 30rpx;
	background:#0079FF;
	border-radius:10rpx;
}
.top-area .title-one{
	width:100%;
	font-size:38rpx;
	font-weight:bold;
	color:#fff;
}
.top-area .title-two{
	width:100%;
	color:#fff;
	padding-top:14rpx;
}
/* 图片区域 */
.main-area .img-area{
	width:100%;
}
.img-area .img-title{
	width:100%;
	display:flex;
	align-items:center;
	padding:30rpx 0px;
}
.img-title .icon-shuxian1{
	color:#0079FF;
	font-size:28rpx;
}
.img-area .img-info{
	width:100%;
	padding:0px 20rpx;
	display:flex;
	align-items:center;
	overflow:visible;
	flex-wrap:wrap;
}
.img-info .img-list{
	width:180rpx;
	height:150rpx;
	border:1rpx solid #F0F4F7;
	background:#F8FAFC;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:10rpx;
	margin-right:30rpx;
	margin-bottom:30rpx;
	overflow:visible;
	position:relative;
}
.img-info .img-list:last-child{
	margin-right:0rpx;
}
.img-list .icon-tupianshangchuan{
	color:#D9E1E9;
	font-size:80rpx;
}
.img-list .img{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	overflow:visible;
	border-radius:10rpx;
}
.icon-guanbi2{
	font-size:30rpx;
	position:absolute;
	top:-15rpx;
	right:-15rpx;
	color:#FB2D3D;
}
.main-area .btn-area{
	width:100%;
	position:fixed;
	left:0px;
	bottom:60rpx;
	padding:50rpx 50rpx 0rpx 50rpx;
}
.btn-area .submit{
	width:100%;
	height:80rpx;
	color:#fff;
	background:#0079FF;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50rpx;
}

/* 其他信息 */
.other-area{
	width:100%;
	padding:60rpx 20rpx;
}
.other-area .other-list{
	width:100%;
	display:flex;
	align-items:center;
	background:#F8FAFC;
	height:100rpx;
	border-radius:12rpx;
	margin-bottom:20rpx;
}
.other-list .other-inp{
	width:100%;
	height:70rpx;
	padding-left:30rpx;
}
.other-inp .tip{
	color:#B3C4D2;
	font-size:26rpx;
}