page{
	background: #FFFFFF;
	font-family: '微软雅黑';
	font-size: 28rpx;
	color: #333333;
}
/* 主体容器 */
.wrap{
	width: 100%;
	padding: 0;
	background: #FFFFFF;
	padding-bottom: 100rpx;
}
/* 地址列表 */
.address-list {
	background: #FFF;
	padding-left: 20rpx;
	margin-bottom: 20rpx;
}
.addresss-top {
	display: flex;
	flex-direction: column;
	padding: 20rpx 0rpx;
	padding-right: 20rpx;
	border-bottom: 2rpx solid #EEE;
}
.address-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 20rpx;
	
}
.address-name .name{
	color: rgba(76, 81, 84, 100);
	font-size: 32rpx; 
	font-weight: bold;
	margin-right: 40rpx;
}
.address-detail {
	padding-bottom: 10rpx;
	font-size:26rpx;
	color:#999;
}
.address-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20rpx 0rpx;
	padding-right: 20rpx;
}
.operate-left {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.check-area {
	height: 40rpx;
	border-radius: 6rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 20rpx;
	position: relative;
}
.check-area .iconfont {
	color: #e5e5e5;
	font-size: 36rpx;
	margin-right:20rpx;
}
.check-area .seleted{
	position: absolute;
	left: 3%;
	top: 20%;
	z-index: 2;
	color:#57D0D9;
	font-size: 20rpx;
	font-weight: bold;
}
.operate-right {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.operate-right .btn-list{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:24rpx;
	width:100rpx;
	height:50rpx;
	border:1rpx solid #D2D2D2;
	border-radius:10rpx;
	color:#666;
}
.operate-right .btn-list:first-child{
	margin-right:30rpx;
}
.submit-area {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-size: 32rpx;
	color: #666666;
	margin:50rpx;
	margin-top:120rpx;
	height:85rpx;
	border-radius:10rpx;
	border: 1rpx solid #e9e9e9;
}